.form-control {
    display: block;
    width: 100%;
    padding: $input-padding-y $input-padding-x;
    font-family: $font-family-base;
    font-size: 1rem;
    font-weight: $input-font-weight;
    line-height: $input-line-height;
    color: $input-color;
    background-color: $input-bg;
    background-clip: padding-box;
    border: $input-border-width solid $input-border-color;
    appearance: none;
    border-radius: $input-border-radius;
    transition: $input-transition;

    &[type="file"] {
        overflow: hidden;
        &:not(:disabled):not([readonly]) {
            cursor: pointer;
        }
    }

    &:focus {
        color: $input-focus-color;
        background-color: $input-focus-bg;
        border-color: $input-focus-border-color;
        outline: 0;
    }

    &::-webkit-date-and-time-value {
        height: if(unit($input-line-height) == "", $input-line-height * 1em, $input-line-height);
    }

    &::placeholder {
        color: $input-placeholder-color;
        opacity: 1;
    }
}
