<header id="header" class="header pt-3">
    <!-- header top -->
    <div class="header__top"> 
        <div class="container d-flex align-items-center justify-content-between">
            <!-- logo -->
            <div class="header__top-logo">
                <a href=""><img src="img/logo.svg" alt=""></a>
            </div>
            <!-- / logo -->

            <!-- header social -->
            <div class="header__top-social">
                <a href="" class="icon icon__link icon__size-md">
                    <svg><use xlink:href="img/icons.svg#vk" x="0" y="0" /></svg>
                </a>
                <a href="" class="icon icon__link icon__size-md">
                    <svg><use xlink:href="img/icons.svg#whatsup" x="0" y="0" /></svg>
                </a>
                <a href="" class="icon icon__link icon__size-md">
                    <svg><use xlink:href="img/icons.svg#telegram" x="0" y="0" /></svg>
                </a>
            </div>
            <!-- / header social -->

            <!-- header address -->
            <div class="header__top-address">
                <div class="icon icon__size-md mr-2"><svg><use xlink:href="img/icons.svg#pointer" x="0" y="0" /></svg></div>
                г. Санкт-Петербург, ул. Большая <br>Конюшенная, д. 27, офис 412 <br>БЦ «Медведь»
            </div>
            <!-- / header address -->

            <!-- header mail -->
            <div class="header__top-mail">
                <div class="icon icon__size-md mr-2"><svg><use xlink:href="img/icons.svg#mail" x="0" y="0" /></svg></div>
                <a href="mailto:info@mail.ru">info@mail.ru</a>
            </div>
            <!-- / header mail -->

            <!-- header phone -->
            <div class="header__top-phone">
                <p>ПН-ПТ 09:00 - 10:00 (МСК)</p>
                <div class="icon icon__size-md "><svg><use xlink:href="img/icons.svg#phone" x="0" y="0" /></svg></div>
                <a href="tel:8 (800) 000-00-00">8 (800) 000-00-00</a>
            </div>
            <!-- / header phone -->

            <!-- header search -->
            <div class="header__top-search">
                <button id="btn__search" class="btn">
                    <div class="icon icon__size-md"><svg><use xlink:href="img/icons.svg#search" x="0" y="0" /></svg></div>
                </button>
            </div>
            <!-- / header search -->

            <!-- CTA -->
            <button class="btn btn__danger">Отличные заявки</button>
            <!-- / CTA -->
            
        </div>
    </div>
    <!-- / header top -->

    <!-- header nav -->
    <div class="header__nav py-2">
        <div class="container">
            <nav class="d-flex justify-content-between">
                <a href="" class="header__nav-link">ПУНКТ</a>
                <a href="" class="header__nav-link">ПУНКТ</a>
                <a href="" class="header__nav-link">ПУНКТ</a>
                <a href="" class="header__nav-link">ПУНКТ</a>
                <a href="" class="header__nav-link">ПУНКТ</a>
                <a href="" class="header__nav-link">ПУНКТ</a>
                <a href="" class="header__nav-link">ПУНКТ</a>
                <a href="" class="header__nav-link">Контакты</a>
            </nav>
        </div>
    </div>
    <!-- / header nav -->
</header>