:root {
    --primary: 		#0d6efd;
    --white: 		#ffffff;
    --dark:			#292e38;
    --dark-light: 	#343b49;
    --light: 		#F6F7FB;
    --gray:			#C8D0DD;
    --warning: 		#05b8d1;

    --body-bg:      #f5f9fa;
    --body-color:   #647087;

    --btn-primary-bg:       #14b8ad;
    --btn-primary-hover:    #18dcd0;
    --btn-primary-color:    #ffffff;

    --btn-danger-bg:       #dc3545;
    --btn-danger-hover:    #bb2d3b;
    --btn-danger-color:    #ffffff;

    --input-focus-bg:   #ffffff;
    --input-color:      #9ca3af;
    --input-bg:         #ffffff;
    --input-border:     #e7e7e7;

    --header-bg:            #ffffff;

    --card-bg:              #ffffff;
    --card-color:           #292e38;
    --card-color-active:    #18dcd0;
    --card-shadow:          #14b8ad;
    --card-icon-border:     #C8D0DD;

    --box-shadow:           0 .5rem 1rem rgba(41, 46, 56, .15);
    --box-shadow-sm:        0 .125rem .25rem rgba(41, 46, 56, .075);
    --box-shadow-lg:        0 1rem 3rem rgba(41, 46, 56, .175);
}